.my-h2{
    font-size: x-large;
}
.boxDiv{
    border:1px solid red;
}

.sumCard{
    border:1px solid red;
}
.centerIcon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
